/*MOBILE MONITORS*/
@media only screen and (max-width: 600px) {

    .navbar {
        z-index: 1; 
        width: 100vw;
        height: 11vh;
        bottom: 0;
        left: 18vw;
       }
    
    .navbar-nav {
        flex-direction: row;
       }

    .nav-item {
        height: 15%;
        width: 11%;
        margin: 4.5vw;
        margin-top: 2.77vh;
    }
    
    .nav-link {
        justify-content: center;
       }

    main {
        margin: 0;
    }

    .Modal_Button {
        position: absolute; 
        margin-top: 47%;
        background: #990000;
        color: white;
        border: none;
        border-color: black;
        border-style: double;
        border-radius: 17vw;
        border-width: 0.4vw;
        cursor: pointer;
        transition: all .5s;
        width: 20vw;
        height: 11.5vh;
    }
    
    .Modal_Button:hover {
         transition: all .5s;
         box-shadow: 0.45vw 0.35vw 0.75vw black;
         transform: scale(1.1);
    }

    .SectionTitle {
        margin-bottom: 22vh;
        font-size: 20vw; 
        /*font-family: Arial, Helvetica, sans-serif;*/
        color: white; 
        text-shadow: 0.95vw 0.95vw  #990000;
        transition: all .5s;
        animation: CfadeIn 2s ease;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
    }
    
    #SectionA {
        display: flex;
        flex-direction: column;
        background-image: url(assets/homepagebackgroundv3.jpg);
        background-size: contain;
        background-repeat: repeat-y;
        transition: all .5s;
    }
    
    #SectionATextA {
        margin-top: -9vh;
        color: white;
        width: 31.5vw;
        font-size: 2vw;
        animation: typing 2s steps(33), blink .5s step-end infinite alternate;
        transition: all .2s; 
        border-right: 3px solid;
        white-space: nowrap; 
        overflow: hidden;
    }
    
    #SectionB {
        background-image: url(assets/gipfelncover1.png);
        background-repeat: no-repeat; 
        background-size: cover;
        background-position: center;
    }
    
    #SectionC {
        background-image: url(assets/pythonbackgroundv3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #SectionD {
        background-image: url(assets/SCProject.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #SectionE {
        background-color: black;
    }

    #SectionE_Video {
        object-fit: contain;
    }

    /*Start of Mobile Footer*/

    #FooterBridge {
        position: absolute; 
        right: 1vw;
        background-image: url(assets/FooterBridge.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 19vw;
        height: 20vh;
        margin-bottom: 28vh;
        z-index: 1;
    }

    #SectionFooter {
        background-color: #ff9900;
        border-top: 1vh;
        height: 30vh;
        width: 100vw;
        transition: all 1s;
    }

    .Footer_Collection {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 13vw;
        height: 8vh;
        margin-bottom: 22vh;
    }

    #ftleft {
        left: 3vw;
    }

    #ftmid {
        left: 30vw;
    }

    #ftright_top {
        left: 57vw;
        height: 20vh;
        width:25vw;
    }

    #ftleftlinks {
        font-size: 5.2vw;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #ftmidlinks {
        font-size: 5.2vw;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    #ftrightlinks {
        margin-top: 8vh;
        font-size: 2.1vw;
        color: white;
        text-shadow: 0.1vw -0.1vw black;
        width: 25vw;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .footerlinks {
        font-size: 2vw;
        margin-bottom: -1h;
    }

    #ftright_plaque {
        transform: skew(-20deg);
        background-color: lightgray;
        border-style: double;
        border-width: 0.5vw;
        border-color: #990000;
        left: 55vw;
        height: 4.66vh;
        width: 25vw;
        margin-bottom: 0vh;
        font-size: 1.8vw;
        transition: all 1s;
        box-shadow: 0.6vw 0.6vh black; 
    }

    #ftright_plaque:hover {
        border-color: gold;
        transform: scale(1.05) skew(-7deg);
        transition: all 1s;
        box-shadow: 1vw 1.2vh black; 
    }

        /*End of Mobile Footer*/
        
}
